body{
    overflow-x: hidden;
}


@media screen and (max-width:1920px) {

    .dash
    {
        
        
    }
   
   } 

   @media screen and (max-width:1820px) {

    .dash
    {
        
    }
   
   } 

   @media screen and (max-width:1720px) {

    .dash
    {
        
        
    }
   
   } 

   @media screen and (max-width:1620px) {

    .dash
    {
        
        
    }
   
   } 

   @media screen and (max-width:1520px) {

    .dash
    {
        
        
    }
   
   } 

   @media screen and (max-width:1420px) {

    .dash
    {
        
        
    }
   
   } 

   @media screen and (max-width:1320px) {

    .dash
    {
        
        
    }
   
   } 



   @media screen and (max-width:1100px) {

    .dash
    {
        
        
    }
   
   } 

   
   @media screen and (max-width:1000px) {

    .dash
    {
        
        
    }
   
   } 

   @media screen and (max-width:900px) {

    .dash
    {
        
        
    }
   
   } 

   @media screen and (max-width:800px) {

    .dash
    {
        
        
    }
   
   } 

   @media screen and (max-width:700px) {

    .dash
    {
        
        
    }
   
   } 

   @media screen and (max-width:650px) {

    .dash .image
    {
        width: 50px;
        height:50px;
        
    }

    
   
   } 

